* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

a {
    color: white;
}

.hidden {
    display: none;
}

:root {
    --prim-blue: #0274be;
    --second-blue: #205e87;
    --kemi-teal: #008080;
    --kneelit-green: #9EC698;
    --wow-orange: #EE7D41;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(0.5);
    }
    50% {
        transform: rotate(-360deg) scale(1);
    }
    100% {
        transform: rotate(-360deg) scale(1) translateY(-120px);
    }
}
@keyframes fadeGrow {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* --------------------- Phone Version -----------------------*/ 
body {
    position: relative;
}

header nav {
    z-index: 10;
}
#primNavWrap {
    display: none;
}
header {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    height: 60px;
    width: 100%;
    background-color: white;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
}
header i {
    font-size: 40px;
}

#hjemKnap {
    
}

#skipBtn {
    position: absolute;
    top: -50em;
    left: 5px;
    z-index: 10;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    background-color: white;
    outline: 4px solid black;
    filter: drop-shadow(0 2px 4px black);
}
#skipBtn:active, #skipBtn:focus{
    top: 5px;
}


#mobilMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px 16px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
    background-color: var(--second-blue);
    z-index: 20;
    transition: 500ms;
}
#mobilMenu ul {
    width: 100%;
    margin: 10vh 0 0 0;
}
#mobilMenu li {
    border: 2px solid black;
    width: 90%;
    margin: 30px auto;
    padding: 4px 8px;
    text-align: left;
    font-size: 30px;
}
#burgerMenu {
    padding: 10px 0 10px 14px;
    border-left: 4px solid var(--prim-blue);
} 

#searchWrapper {
    display: flex;
}

#searchWrapper input[type=search] {
    position: fixed;
    bottom: -46px;
    left: 0;
    width: 100%;
    font-size: 18px;
    padding: 10px 10px;
}

#searchIcon {
    color: var(--prim-blue);
    font-size: 35px;
    padding: 5px 10px;
}

#searchWrapper button {
    display: none;
}

#toTopKnap {
    position: fixed;
    padding: 1em 1.1em;
    bottom: 30px;
    right: 20px;
    box-shadow: 0 0 8px #000;
    background-color: var(--prim-blue);
    z-index: 25;
}

#innosForside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0 0 0;
    position: relative;
    min-width: 100vw;
    min-height: 94vh;
    box-shadow: 0 0 5px #000;
}

#bckSlider {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#bckSlider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, var(--prim-blue), var(--second-blue));
    opacity: .3;
}

#forsideContentWrap {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
}

#spinningLogo {
    position: absolute;
    z-index: 8;
    animation: spin 1500ms normal forwards;
}

#forsideh1 {
    opacity: 0;
    font-size: 50px;
    animation: fadeGrow 400ms linear 950ms normal forwards;
}
#forsideTagline {
    opacity: 0;
    animation: fadeGrow 850ms linear 950ms normal forwards;
    margin-bottom: 6vh;
}

#mainCTABtn {
    opacity: 0;
    background-color: var(--prim-blue);
    color: white;
    font-size: 22px;
    padding: 15px 20px;
    box-shadow: 0 0 10px #000;
    border-radius: 50px;
    animation: fadeGrow 300ms linear 1500ms normal forwards;
}
#dropBtn {
    opacity: 0;
    margin: 4vh 0 0 0;
    height: 40px;
    width: 40px;
    padding: 13px;
    outline: 2px solid white;
    border-radius: 50%;
    animation: fadeGrow 350ms linear 2200ms normal forwards;
}

#content h2 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color: var(--prim-blue);
}
#content p {
    font-size: 20px;
}

.mereBtn {
    display: inline-block;
    outline: 3px solid var(--prim-blue);
    text-align: center;
    font-weight: bold;
    color: #000;
    padding: 10px 20px;
    width: 140px;
    text-transform: uppercase;
}

#kategorier ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 95vw;
}

#kategorier li {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    width: 100%;
    max-width: 350px;
    height: 400px;
    box-shadow: 0 0 10px gray;
    margin: 0 0 1.5em 0;
}

#kategorier li p {
    height: 80px;
    font-size: 20px;
    text-align: center;
    padding: 0 12px;
}

.mereBtn:active, .mereBtn:focus, .mereBtn:hover {
    transform: scale(1.1);
    background-color: var(--prim-blue);
}

.titleWrap {
    width: 100%;
    padding: 1em 0px;
    background-color: var(--prim-blue);
}

.kneelFarve {
    outline: 3px solid var(--kneelit-green);
}
.kneelFarve:active, .kneelFarve:focus, .kneelFarve:hover{
    background-color: var(--kneelit-green);
}
.kneelTitle {
    background-color: var(--kneelit-green);
}

.wowFarve {
    outline: 3px solid var(--wow-orange);
}
.wowFarve:active, .wowFarve:focus, .wowFarve:hover{
    background-color: var(--wow-orange);
}
.wowTitle {
    background-color: var(--wow-orange);
}

.kemiFarve {
    outline: 3px solid var(--kemi-teal);
}
.kemiFarve:active, .kemiFarve:focus, .kemiFarve:hover{
    background-color: var(--kemi-teal);
}
.kemiTitle {
    background-color: var(--kemi-teal);
}

.titleWrap h3 {
    color: black;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.seperator {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    margin: 4em auto;
    font-size: 20px;
}
.seperator img {
    position: relative;
}

.seperator hr {
    width: 100%;
    height: 4px;
    position: relative;
    margin: 20px;
    border: none;
    background-color: var(--second-blue);
}

#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    margin: 0 auto;
}

#faq article {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    margin: 2em 0;
}
#faq .titleWrap {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    line-height: .8em;
    margin: 0 0 .5em 0;
}

#faq .mereBtn {
    margin: .8em 0;
}

.faqWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px gray;
}

.faqWrap p{
    margin: 0 0 1em 0;
    line-height: 1.5em;
}
.faqWrap h4, .faqWrap p {
    width: 100%;
    text-align: left;
    padding: 0 20px;
}
.faqWrap h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.faqUl {
    width: fit-content;
    margin: 0 auto 1em auto;
}
.faqUl li {
    line-height: 1.5em;
    list-style-type: square;
}

.faqImg {
    position: relative;
    height: 40vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.faqImg .seperator {
    margin: .5em 0 0 0;
    position: absolute;
    top: 0;
}
#faqKneelBck {
    background-image: url("../images/kneelitBck.webp");
    border-bottom: 10px solid var(--kneelit-green);
}
#faqKneelBck .seperator hr {
    background-color: var(--kneelit-green);
    border: none;
}
#faqWowBck {
    background-image: url("../images/wowBck.webp");
    border-bottom: 10px solid var(--wow-orange);
}
#faqWowBck .seperator hr {
    background-color: var(--wow-orange);
    border: none;
}

#kontaktOs p {
    text-align: center;
    padding: 0 1em;
}

#socials ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1.5em;
    margin: 1.5em 0 0 0;
}
#socials a {
    font-size: 40px;
    color: var(--prim-blue);
}

#nyhedsBrev {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    padding: 4em 1.5em;
    margin: 2em 0;
    box-shadow: 0 0 10px gray;
    color: white;
    background-color: var(--second-blue);
}

input[type=text], input[type=email], input[type=submit], #nyhedsBrev select {
    width: 100%;
    font-size: 20px;
    height: 50px;
    padding: 10px 20px;
    margin: 15px 0 0 0;
    color: var(--prim-blue);
    background-color: white;
    border: none;
}

#brevWrap h2, #brevWrap h3 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

input[type=checkbox] {
    margin: 1em 0;
}

input[type=submit] {
    text-transform: uppercase;
}
input[type=submit]:active, input[type=submit]:focus, input[type=submit]:hover,
input[type=checkbox]:active, input[type=checkbox]:focus, input[type=checkbox]:hover {
    cursor: pointer;
    font-weight: bold;
    transform: scale(1.01);
}

footer {
    width: 100vw;
    background-color: var(--prim-blue);
    background-image: url("../images/footerBck.webp");
    background-repeat: repeat-x;
    background-position: center;
    margin-top: 4em;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 10px gray;
}

#footerWrap {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#footerWrap > * {
    padding: 1em;
}

#footerWrap h3 {
    font-size: 30px;
}

#footerWrap ul {
    border-left: 4px solid white;
    padding: 0 20px;
}

#footerWrap li {
    margin: 0 0 1em 0;
}
footer a:active, footer a:hover {
    text-decoration: underline;
}

#gazelleWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#gazelleWrap > * {
    margin-bottom: 1em;
}

#footerLogo {
    align-self: flex-start;
}

#gazelleWrap p{
    font-size: 20px;
    margin-bottom: 1em;
}

#kontaktFooter {
    font-style: normal;
}

#copyrightBar {
    width: 100vw;
    background-color: var(--second-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0 24px 0;
    margin: 1em 0 0 0;
    color: lightgray;
}

/* --------------------- iPad Version -----------------------*/ 
@media screen and (min-width: 725px) {

    #forsideh1 {
        font-size: 75px;
    }

    #toTopKnap {
        padding: 1em 1.15em;
        font-size: 20px;
    }

    #content h2 {
        font-size: 50px;
    }

    .titleWrap h3, #faq .titleWrap {
        font-size: 35px;
    }

    #kategorier ul {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: auto;
        justify-items: center;
        justify-content: center;
        gap: 1em;
    }
    #kategorier li {
        margin: 0;
    }

    .faqWrap p, .faqWrap li {
        font-size: 20px;
    } 

    #kontaktOs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #brevWrap h2 {
        text-align: left;
    }

    input[type=text], input[type=email] {
        width: 49.5%;
    }

    #footerWrap {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "gazelle kontakt"
          "gazelle nav";
        justify-content: center;
        font-size: 22px;
    }

    #footerWrap h3 {
        font-size: 40px;
    }

    #gazelleWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
        grid-area: gazelle;
    }
    
    #gazelleWrap p{
        margin-bottom: 1em;
    }

    #kontaktFooter {
        grid-area: kontakt;
    }
    #navFooter {
        grid-area: nav;
    }

    #copyrightBar {
        flex-direction: row;
        justify-content: center;
        gap: 2em;
    }

}


/* --------------------- Desktop Version -----------------------*/ 
@media screen and (min-width: 1200px) {
    header {
        height: 80px;
        width: 98%;
        max-width: 1920px;
        display: grid;
        grid-template-columns: 0.2fr 0.8fr 0.4fr;
        justify-items: center;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0 auto;
        border-radius: 0 0 50px 50px;
    }
    
    #mobilMenu, #mobilMenuOpen, #searchIcon {
        display: none;
    }

    #searchWrapper {
        display: flex;
        width: 80%;
    }
    
    #searchWrapper input[type=search] {
        position: static;
        bottom: unset;
        left: 0;
        width: 100%;
        font-size: 18px;
        padding: 10px 10px;
        border: 2px solid var(--second-blue);
    }
    
    #searchWrapper button {
        display: block;
        border: none;
        padding: .8em 1.2em .8em .8em;
        color: white;
        border-radius: 0 25px 25px 0;
        background-color: var(--second-blue);
    }
    #searchWrapper button i {
        font-size: 18px;

    }
    #searchWrapper button:hover {
        cursor: pointer;
        background-color: var(--prim-blue);
    }

    #searchBar {
        border-radius: 50px 0 0 50px;
        display: block;
    }
    
    #primNavWrap {
        height: 100%;
        display: block;
        justify-self: end;
        position: relative;
    }
    #primNav {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 2em;
        padding: 0 4em;
        height: 100%;
        font-size: 15px;
        border: 4px solid var(--prim-blue);
        border-radius: 50px;
    }
    .primLi {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .primLi > a {
        color: var(--prim-blue);
        font-weight: bold;
    }
    #primNav li:hover > a{
        text-decoration: underline;
    }

    .navIcon {
        font-size: 15px;
    }

    .subNav {
        position: absolute;
        top: 95%;
        display: none;
        flex-direction: column;
        padding: 1em;
        line-height: 2.5em;
        text-transform: uppercase;
        border-radius: 0 0 25px 25px;
        box-shadow: 0 0 8px #000;
        background-color: var(--second-blue);
        z-index: 10;
    }
    .subNav li {
        width: 100%;
    }
    .subNav li a {
        display: block;
        color: white;
    }

    #subOmos {
        right: 40px;
    }

    .primLi:hover .subNav, .primLi:focus .subNav, .subNav:hover {
        display: flex;
    }

    #skipBtn {
        top: -50em;
        left: 15px;
        font-size: 25px;
    }
    #skipBtn:active, #skipBtn:focus{
        top: 10px;
    }
    

    #mainCTABtn:hover, #mainCTABtn:focus, #mainCTABtn::selection {
        background-color: white;
        color: var(--prim-blue);
        outline: none;
        filter: unset;
    }
    #dropBtn:hover {
        background-color: var(--prim-blue);
        outline: none;
        box-shadow: 0 0 4px #000;
    }

    #forsideh1 {
        font-size: 80px;
    }
    #forsideTagline {
        font-size: 40px;
    }

    #toTopKnap {
        padding: .5em .7em;
        font-size: 35px;
    }
    #toTopKnap:hover {
        cursor: pointer;
        color: white;
    }

    #content h2 {
        padding: 0 1em;
        font-size: 65px;
    }
    
    #kategorier ul {
        display: flex;
        flex-direction: row;
    }
    #kategorier ul li {
        max-width: 350px;
    }

    .titleWrap h3 {
        font-size: 40px;
    }

    #faq article {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1600px;
        row-gap: unset;
        column-gap: 1em;
        margin: 2em 0;
    }
    #moreWorkWear {
        flex-direction: row-reverse !important;
    }
    .faqWrap {
        width: 100%;
        max-width: 650px;
    }
    .faqImg {
        height: 700px;
    }
    #faqKneelBck {
        border-top: 10px solid var(--kneelit-green);
        border-bottom: none;
    }
    #faqWowBck {
        border-top: 10px solid var(--wow-orange);
        border-bottom: none;
        height: 900px;
    }

    #faq .titleWrap {
        font-size: 40px;
        padding: .8em 0;
        line-height: .6em;
    }

    #nyhedsBrev {
        display: flex;
        flex-direction: row;
        padding: 4em 3em;
        column-gap: 5em;
    }

    #brevWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        font-size: 25px;
    }
    #brevWrap h2 {
        padding: 0;
        font-size: 65px;
    }

    #footerWrap {
        display: flex;
        flex-direction: row;
        font-size: 25px;
    }

    #footerWrap h3 {
        font-size: 45px;
    }

    #gazelleWrap {
        display: block;
        width: 700px;
        padding: 1em;
    }
    
    #gazelleWrap p{
        font-size: 22px;
        margin-bottom: 1em;
    }

}