* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

a {
    color: white;
}

:root {
    --prim-blue: #0274be;
    --second-blue: #205e87;
    --kneelit-green: #9EC698;
    --wow-orange: #EE7D41;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(0.5);
    }
    50% {
        transform: rotate(-360deg) scale(1);
    }
    100% {
        transform: rotate(-360deg) scale(1) translateY(-120px);
    }
}
@keyframes fadeGrow {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* --------------------- Phone Version -----------------------*/ 
body {
    position: relative;
}

header nav {
    z-index: 10;
}
#primNav {
    display: none;
}
header {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    height: 60px;
    width: 100%;
    background-color: white;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
}
header i {
    font-size: 40px;
}

#skipBtn {
    position: absolute;
    top: -50em;
    left: 5px;
    z-index: 10;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    background-color: white;
    outline: 4px solid black;
    filter: drop-shadow(0 2px 4px black);
}
#skipBtn:active, #skipBtn:focus{
    top: 5px;
}


#mobilMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px 16px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
    background-color: var(--second-blue);
    z-index: 20;
    transition: 500ms;
}
#mobilMenu ul {
    width: 100%;
    margin: 10vh 0 0 0;
}
#mobilMenu li {
    border: 2px solid black;
    width: 90%;
    margin: 30px auto;
    padding: 4px 8px;
    text-align: left;
    font-size: 30px;
}
#mobilMenuOpen {
    padding: 10px 0 10px 14px;
    border-left: 4px solid var(--prim-blue);
}

#innosForside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0 0 0;
    position: relative;
    min-width: 100vw;
    min-height: 94vh;
    box-shadow: 0 0 5px #000;
}

#bckSlider {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#bckSlider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, var(--prim-blue), var(--second-blue));
    opacity: .3;
}

#forsideContentWrap {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
}

#spinningLogo {
    position: absolute;
    z-index: 8;
    animation: spin 1500ms normal forwards;
}

#forsideh1 {
    opacity: 0;
    font-size: 50px;
    animation: fadeGrow 400ms linear 950ms normal forwards;
}
#forsideTagline {
    opacity: 0;
    animation: fadeGrow 850ms linear 950ms normal forwards;
    margin-bottom: 6vh;
}

#mainCTABtn {
    opacity: 0;
    background-color: var(--prim-blue);
    color: white;
    font-size: 22px;
    padding: 15px 20px;
    box-shadow: 0 0 10px #000;
    border-radius: 50px;
    animation: fadeGrow 300ms linear 1500ms normal forwards;
}
#dropBtn {
    opacity: 0;
    margin: 4vh 0 0 0;
    height: 40px;
    width: 40px;
    padding: 13px;
    outline: 2px solid white;
    border-radius: 50%;
    animation: fadeGrow 350ms linear 2200ms normal forwards;
}

#content h2 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color: var(--prim-blue);
}

.mereBtn {
    display: inline-block;
    outline: 3px solid var(--prim-blue);
    text-align: center;
    font-weight: bold;
    color: #000;
    padding: 10px 20px;
    width: 140px;
    text-transform: uppercase;
}

#kategorier ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 95vw;
}

#kategorier li {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    width: 100%;
    max-width: 350px;
    height: 400px;
    box-shadow: 0 0 10px gray;
    margin: 0 0 1.5em 0;
}

#kategorier li p {
    height: 80px;
    font-size: 20px;
    text-align: center;
    padding: 0 4px;
}

.mereBtn:active, .mereBtn:focus, .mereBtn:hover {
    transform: scale(1.1);
    background-color: var(--prim-blue);
}

.titleWrap {
    width: 100%;
    padding: 1em 0px;
    background-color: var(--prim-blue);
}

#katKneelit .mereBtn {
    outline: 3px solid var(--kneelit-green);
}
#katKneelit .mereBtn:active, #katKneelit .mereBtn:focus, #katKneelit .mereBtn:hover{
    background-color: var(--kneelit-green);
}
#kneelTitle {
    background-color: var(--kneelit-green);
}

#katWow .mereBtn {
    outline: 3px solid var(--wow-orange);
}
#katWow .mereBtn:active, #katWow .mereBtn:focus, #katWow .mereBtn:hover{
    background-color: var(--wow-orange);
}
#wowTitle {
    background-color: var(--wow-orange);
}

.titleWrap h3 {
    color: black;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}


#nyhedsBrev {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    padding: 4em 1.5em;
    margin: 2em 0;
    box-shadow: 0 0 10px gray;
    background-color: var(--prim-blue);
}

input[type=text], input[type=email], input[type=submit], #nyhedsBrev select {
    width: 100%;
    font-size: 20px;
    height: 50px;
    padding: 10px 20px;
    margin: 15px 0 0 0;
    color: var(--prim-blue);
    background-color: white;
    border: none;
}

#brevWrap h2, #brevWrap h3 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

input[type=checkbox] {
    margin: 1em 0;
}

input[type=submit] {
    text-transform: uppercase;
}
input[type=submit]:active, input[type=submit]:focus, input[type=submit]:hover {
    cursor: pointer;
    font-weight: bold;
    transform: scale(1.02);
}

footer {
    width: 100vw;
    background-color: var(--prim-blue);
    background-image: url("../images/footerBck.webp");
    background-repeat: repeat-x;
    background-position: center;
    margin-top: 4em;
    color: white;
    font-size: 20px;
}

#footerWrap {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

#footerWrap > * {
    padding: 1em;
}

#footerWrap h3 {
    font-size: 30px;
}

#footerWrap ul {
    border-left: 4px solid white;
    padding: 0 20px;
}

#footerWrap li {
    margin: 0 0 1em 0;
}
footer a:active, footer a:hover {
    text-decoration: underline;
}

#gazelleWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#gazelleWrap > * {
    margin-bottom: 1em;
}

#footerLogo {
    align-self: flex-start;
}

#gazelleWrap p{
    font-size: 20px;
    margin-bottom: 1em;
}

#kontaktFooter {
    font-style: normal;
}

#copyrightBar {
    width: 100vw;
    background-color: var(--second-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0 24px 0;
    margin: 1em 0 0 0;
    color: lightgray;
}

/* --------------------- iPad Version -----------------------*/ 
@media screen and (min-width: 725px) {

    #content h2 {
        font-size: 40px;
    }

    #kategorier ul {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: auto;
        justify-items: center;
        justify-content: center;
        gap: 1em;
    }
    #kategorier li {
        margin: 0;
    }

    #kontaktOs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #brevWrap h2 {
        text-align: left;
    }

    input[type=text], input[type=email] {
        width: 49.5%;
    }

    
    #footerWrap {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "gazelle kontakt"
          "gazelle nav";
        justify-content: center;
        font-size: 22px;
    }

    #footerWrap h3 {
        font-size: 40px;
    }

    #gazelleWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
        grid-area: gazelle;
    }
    
    #gazelleWrap p{
        margin-bottom: 1em;
    }

    #kontaktFooter {
        grid-area: kontakt;
    }
    #navFooter {
        grid-area: nav;
    }

    #copyrightBar {
        flex-direction: row;
        justify-content: center;
        gap: 2em;
    }

}



/* --------------------- Desktop Version -----------------------*/ 
@media screen and (min-width: 1200px) {
    header {
        height: 80px;
        width: 98%;
        max-width: 1920px;
        display: grid;
        grid-template-columns: 0.4fr 1.2fr 0.4fr;
        justify-items: center;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0 auto;
        border-radius: 0 0 50px 50px;
    }
    
    #mobilMenu, #mobilMenuOpen {
        display: none;
    }

    #primNav {
        height: 100%;
        display: block;
    }
    #primNav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 2em;
        padding: 0 4em;
        height: 100%;
        border-radius: 50px;
        border: 4px solid var(--prim-blue);
    }
    #primNav ul li {
        display: inline-block;
    }
    #primNav a {
        color: var(--prim-blue);
        font-weight: bold;
    }
    #primNav a:hover {
        text-decoration: underline;
    }

    #skipBtn {
        top: -50em;
        left: 15px;
        font-size: 25px;
    }
    #skipBtn:active, #skipBtn:focus{
        top: 10px;
    }

    #mainCTABtn:hover, #mainCTABtn:focus, #mainCTABtn::selection {
        background-color: white;
        color: var(--prim-blue);
        outline: none;
        filter: unset;
    }
    #dropBtn:hover {
        background-color: var(--prim-blue);
        outline: none;
        box-shadow: 0 0 4px #000;
    }

    #content h2 {
        font-size: 45px;
    }
    
    #kategorier ul {
        display: flex;
        flex-direction: row;
    }
    #kategorier ul li {
        max-width: 350px;
    }

    .titleWrap h3 {
        font-size: 35px;
    }

    #nyhedsBrev {
        display: flex;
        flex-direction: row;
        padding: 4em 3em;
        column-gap: 5em;
    }

    #brevWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        font-size: 25px;
    }
    #brevWrap h2 {
        font-size: 65px;
    }

    #footerWrap {
        display: flex;
        flex-direction: row;
        font-size: 25px;
    }

    #footerWrap h3 {
        font-size: 45px;
    }

    #gazelleWrap {
        display: block;
        width: 700px;
        padding: 1em;
    }
    
    #gazelleWrap p{
        font-size: 22px;
        margin-bottom: 1em;
    }

}